@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.blue_box {

  width: 300px;
  height: 300px;
  background: #0c22c4;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 82%;
  padding-top: 20px;
}
.logo {
  font-weight: 500;
  font-size: 26px;
}
.menu {
display: flex;
justify-content: space-around;
}
.menu_item {
color:#888;
font-size: 18px;
}

.menu_item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.welcome_header {
margin:0 auto;
  width: 70%;
  text-align: center;
  margin-top:100px;
}

.wel_desc {
  margin: 0 auto;
  width: 1062px;
  text-align: center;
  margin-top: 33px;
}

.user_form {
  width: 500px;
  margin:0 auto;
  margin-top:50px;
}


.footer {
  background: #f5f7f9;
  margin-top: 200px;
}

.widgets_wrapper {
display: flex;
justify-content: space-around;
padding: 40px
}
.widget_box {
width: 300px;
}
.f_link {
margin-bottom: 20px;
color:#7a898f;
}
.login_btn {
  background: #000000;
  padding: 10px 15px;
  color:#fff;
  border-radius: 5px;
  font-size: 17px;

}

.signup_btn {
  background: #000000;
  padding: 7px 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 24px;

}
.subscribe_box {
  background: #fff;
  width: 864px;
  height: 121px;
  margin: 0 auto;
  box-shadow: 0px 0px 6px 1px #dedede;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.call_text {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 19px;
  font-weight: 500;
}
.option_dropdown {

}
.option_select {
  border: 1px solid #dedede;
  padding: 9px 5px;
  border-radius: 5px;
  background: #f9fafb;
  
}

.listings_section {

}
.featured {
  color: #6e4809;
    background: #ffd905;
    font-size: 10px;
    padding: 5px 7px;
    border-radius: 3px;
    margin-left: 5px;
}
.listing_filter {
  display: flex;
  width: 864px;
  margin: 0 auto;
  margin-top: 111px;
}
.filter_label {
margin-right: 10px;
font-size: 18px;
font-weight: 500;
color:#999;
}
.active_filter {
  color:#2f2f2f;
}
.home_section {
  background: linear-gradient(#eef2f6, #f9fafb);
  position: relative;
  height: 410px;
}

.listing_feed {
width: 864px;
margin: 0 auto;
margin-top: 50px;
}
.job_listing {
  display: flex;
  align-items: center;
  margin-bottom: 57px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 35px;
}
.comp_logo {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0px 1px 3px 0px #dedede;
}
.listing_info {
margin-left: 30px;
width: 350px;
}
.comp_name {
font-size: 15px;
font-weight: 400;
margin-bottom: 2px;
}
.job_position {
font-size: 18px;
font-weight: 500;
}
.job_type {
font-size: 14px;
color:#3b3c45;
margin-top: 10px;
}
.job_skills {
display: flex;
flex-wrap: wrap;
width: 250px;
}
.skill_name {
  background: #f5f4f2;
  border-radius: 4px;
  padding: 4px 6px;
  margin-right: 10px;
  color: #8f8f8f;
  font-size: 12px;
  margin-bottom: 5px;
}
.time_ago {
  font-size: 11px;
  color: #99a4a9;
  margin-top: -25px;
  margin-bottom: 9px;
  font-weight: 500;
}

.apply_job_btn {
  background: #000000;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 67px;
}


.create_wrapper {
display: flex;
justify-content: space-between;
}
.form_section {
width: 50%;
padding-bottom: 200px;
}
.form_header {
font-size: 22px;
font-weight: 500;
margin-bottom: 20px;
}
.form_wrapper {
  width: 460px;
  margin: 0 auto;
  margin-top: 60px;
}

.form_label {
  margin-bottom: 5px;
}
.edu_section {
  position: fixed;
  margin-left: 50%;
  width: 50%;
  height: 100vh;
  background: #f2ece4;
}
.form_input {
  margin-bottom: 20px;
  margin-top: 5px;
}

.sallary_input {

}
.img_upload_btn {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #dedede;
  margin-top: 10px;
  padding-left: 22px;
  margin-bottom: 30px;
}

.edu_section {

}
.edu_header {
font-size: 34px;
font-weight: 500;
}
.edu_bullets {
margin-top: 50px;
}
.edu_wrapper {

  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}
            
.edu_widget { margin-bottom: 50px;}
.edu_title {
font-size: 22px;
font-weight: 500;
}
.edu_desc {
font-size: 17px;
font-weight: 300;
color:#555;
margin-top: 10px;
}

.sallary_segment {
  margin-top: 20px;
display: flex;
justify-content: space-between;
}

.publish_btn {
  width: -webkit-fill-available;
  margin-top: 50px;
  background: #000000;
  color:#fff;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
}



@media (max-width: 992px) { 


  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  .blue_box {
  
    width: 300px;
    height: 300px;
    background: #0c22c4;
  }
  
  .header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 20px;
  }
  .logo {
    font-weight: 500;
    font-size: 24px;
  }
  .menu {
  display: flex;
  justify-content: space-around;
  }
  .menu_item {
  color:#888;
  font-size: 18px;
  }
  
  .menu_item:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .welcome_header {
  margin:0 auto;
    width: 90%;
    text-align: center;
    margin-top:100px;
  }
  
  .wel_desc {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 15px;
  }
  
  .user_form {
    width: 80%;
    margin:0 auto;
    margin-top:50px;
  }
  
  
  .footer {
    background: #f5f7f9;
    margin-top: 200px;
  }
  
  .widgets_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px
  }
  .widget_box {
  width: 86%;
  margin-top:30px;
  }
  .f_link {
  margin-bottom: 20px;
  color:#7a898f;
  }
  .login_btn {
    background: #000000;
    padding: 10px 15px;
    color:#fff;
    border-radius: 5px;
    font-size: 17px;
  
  }
  
  .signup_btn {
    background: #000000;
    padding: 7px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 24px;
  margin-top:10px;
  
  }
  .subscribe_box {
    background: #fff;
    padding: 15px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0px 0px 6px 1px #dedede;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .call_text {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
  }
  .option_dropdown {
  
  }
  .option_select {
    border: 1px solid #dedede;
    padding: 9px 5px;
    border-radius: 5px;
    background: #f9fafb;
  }
  
  .listings_section {
  
  }
  .featured {
    color: #6e4809;
      background: #ffd905;
      font-size: 10px;
      padding: 5px 7px;
      border-radius: 3px;
      margin-left: 5px;
  }
  .listing_filter {
    display: flex;
    width: 88%;
    margin: 152px auto 0 22px;
  }
  .filter_label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color:#999;
  }
  .active_filter {
    color:#2f2f2f;
  }
  .home_section {
    background: linear-gradient(#eef2f6, #f9fafb);
    position: relative;
    height: 410px;
  }
  
  .listing_feed {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  }
  .job_listing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 57px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 35px;
  }
  .comp_logo {
    margin-left:20px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0px 1px 3px 0px #dedede;
  }
  .listing_info {
  margin-left: 30px;
  width: 350px;
  }
  .comp_name {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2px;
  }
  .job_position {
  font-size: 18px;
  font-weight: 500;
  }
  .job_type {
  font-size: 14px;
  color:#3b3c45;
  margin-top: 10px;
  }
  .job_skills {
    margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin-top:10px;
  width: 86%;
  }
  .skill_name {
    background: #f5f4f2;
    border-radius: 4px;
    padding: 4px 6px;
    margin-right: 10px;
    color: #8f8f8f;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .time_ago {
    font-size: 11px;
    color: #99a4a9;
    margin-top: -25px;
    margin-bottom: 9px;
    font-weight: 500;
  }
  
  .apply_job_btn {
    background: #000;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 27px;
    margin-top: 30px;
  }
  
  
  .create_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .form_section {
  width: 100%;
  padding-bottom: 50px;
  }
  .form_header {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  }
  .form_wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .form_label {
    margin-bottom: 5px;
  }
  .edu_section {
   position: relative;
    margin-left: 0px;
    width: 100%;
    height: 100vh;
    background: #f2ece4;
  }
  .form_input {
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .sallary_input {
  
  }
  .img_upload_btn {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #dedede;
    margin-top: 10px;
    padding-left: 22px;
    margin-bottom: 30px;
  }
  
  .edu_section {
  
  }
  .edu_header {
  font-size: 34px;
  font-weight: 500;
  }
  .edu_bullets {
  margin-top: 50px;
  }
  .edu_wrapper {
  
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }
              
  .edu_widget { margin-bottom: 50px;}
  .edu_title {
  font-size: 22px;
  font-weight: 500;
  }
  .edu_desc {
  font-size: 17px;
  font-weight: 300;
  color:#555;
  margin-top: 10px;
  }
  
  .sallary_segment {
    margin-top: 20px;
  display: flex;
  justify-content: space-between;
  }
  
  .publish_btn {
    width: -webkit-fill-available;
    margin-top: 50px;
    background: #000000;
    color:#fff;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
  }


}