@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.blue_box {

  width: 300px;
  height: 300px;
  background: #0c22c4;
}

.header {
  margin: 0 auto;
display: flex;
justify-content: space-between;
width: 90%;
padding: 10px;
}
.logo {
font-weight: 500;
font-size: 30px;
}
.menu {
width: 400px;
display: flex;
justify-content: space-around;
}
.menu_item {
color:#888;
font-size: 18px;
}

.menu_item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.welcome_header {
margin:0 auto;
  width: 70%;
  text-align: center;
  margin-top:100px;
}

.wel_desc {
  margin: 0 auto;
  width: 1062px;
  text-align: center;
  margin-top: 33px;
}

.user_form {
  width: 500px;
  margin:0 auto;
  margin-top:50px;
}


.footer {
height: 400px;
background: linear-gradient(#17181e, #000000);
margin-top: 200px;
}

.widgets_wrapper {
display: flex;
justify-content: space-around;
padding: 40px
}
.widget_box {
width: 300px;
}
.f_link {
margin-bottom: 20px;
color:#fff;
}